<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.proxy"
      android:versionCode="1"
      android:versionName="1.0">
    <permission android:name="com.android.proxy.READ_WARN"/>
    <permission android:name="com.android.proxy.WRITE_WARN"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <provider android:name="com.android.proxy.warn.WarnProvider"
            android:authorities="com.android.proxy.warn"
            android:writePermission="com.android.proxy.WRITE_WARN"
            android:readPermission="com.android.proxy.READ_WARN"
            android:exported="true"/>
        <provider android:name="com.android.proxy.cache.RequestProvider"
            android:authorities="com.android.proxy.cache.request"
            android:exported="false"/>
        <provider android:name="com.android.proxy.cache.ResponseProvider"
            android:authorities="com.android.proxy.cache.response"
            android:exported="false"/>
        <service android:name="com.android.proxy.warn.WarnKlaxon">
            <intent-filter>
                <action android:name="com.android.proxy.warn.ALARM_ALERT" />
            </intent-filter>
        </service>
        <service android:name="ProxyService">
            <intent-filter>
                <action android:name="com.android.proxy.PROXY_SERVICE"/>
                <action android:name="com.android.proxy.IProxyService"/>
            </intent-filter>
        </service>
        <activity android:name="com.android.proxy.ui.RegisterActivity"
          android:label="@string/title_register" 
          android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.android.proxy.ui.LoginActivity"
          android:label="@string/title_login" 
          android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.android.proxy.warn.WarnReceiver"/>   
        <receiver android:name="com.android.proxy.warn.WarnInitReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"/>
        	</intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="com.android.proxy.READ_WARN"/>
    <uses-permission android:name="com.android.proxy.WRITE_WARN"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest> 